:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --color-active-nav: #d3933b;
  --color-login: #f4c550;
  --color-marker: #fbe9ba;
  --color-button: #f4c550;
  --color-background-image: #fbe9ba;
  --color-laptop: #d3933b;
  --color-apple: #fbe9ba;
  --color-frame: #f4c550;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

body.theme-green {
  --color-active-nav: #295761;
  --color-login: #9fbaae;
  --color-marker: #cbded3;
  --color-button: #9fbaae;
  --color-background-image: #cbded3;
  --color-laptop: #295761;
  --color-apple: #cbded3;
  --color-frame: #9fbaae;
}
body.theme-blue {
  --color-active-nav: #20395b;
  --color-login: #9fb7ce;
  --color-marker: #bfd6ea;
  --color-button: #9fb7ce;
  --color-background-image: #bfd6ea;
  --color-laptop: #20395b;
  --color-apple: #bfd6ea;
  --color-frame: #9fb7ce;
}
body.theme-red {
  --color-active-nav: #b03f3e;
  --color-login: #e0a39a;
  --color-marker: #f2c0bd;
  --color-button: #e0a39a;
  --color-background-image: #f2c0bd;
  --color-laptop: #b03f3e;
  --color-apple: #f2c0bd;
  --color-frame: #e0a39a;
}
body.theme-orange {
  --color-active-nav: #e17650;
  --color-login: #f0aa8d;
  --color-marker: #f4c8ba;
  --color-button: #f0aa8d;
  --color-background-image: #f4c8ba;
  --color-laptop: #e17650;
  --color-apple: #f4c8ba;
  --color-frame: #f0aa8d;
}

#root {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  /* border-inline: 1px solid var(--border); */
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
img {
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
